body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove body margin for full canvas size */
}

h1 {
  display: flex;
  justify-content: center;
}

canvas {
  width: 50%; /* Set canvas to 100% width and height */
  height: 50%;
  margin: auto;
}

.para-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
